// Vendor
//---------------------------------

// @import "vendor/normalize";
// @import "vendor/swiper";

// Global
//---------------------------------

@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
//---------------------------------

// @import "blocks/header";
// @import "blocks/footer";
// @import "blocks/modal";

// используйте это для отключения ховеров на тач устройствах
// ! но не используйте это для текстовых полей ( input, textarea )
// также для любых transition обязательно указывайте transition-property
// transition: color $default-transition-settings, а не transition: $default-transition-settings

/* @media (hover: hover), screen and (min-width: 0\0) {
  &:hover,
  &:focus {
    color: red;
  }
} */

.header {
  background-color: $color-dodger-blue;
  color: $color-default-white;
  overflow: hidden;
}
.header__wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  @include adaptiveDesktopToMobile("padding-top", 20, 14);
  z-index: 1;
  position: relative;
}
.header__left-wrapper {
  z-index: 1;
}
.header__logo {
  display: block;
}
.header__logo-pic {
}
.header__content {
  @include adaptiveDesktopToMobile("padding-left", 70, 0);
  @include adaptiveDesktopToMobile("margin-top", 70, 42);
  @include adaptiveDesktopToMobile("margin-bottom", 80, 50);
  max-width: 700px;
  @include viewport--sm {
    max-width: none;
  }
}
.header__date {
  display: grid;
  grid-template-columns: repeat(2, max-content);
}
.header__date-numbers {
  @include adaptiveDesktopToMobile("font-size", 64, 28);
  margin-right: 18px;
  grid-row: span 2;
  display: flex;
  align-items: center;

  @include viewport--sm {
    grid-row: auto;
    margin-right: 5px;
    margin-bottom: 6px;
  }
}
.header__date-text {
}
.header__date-month {
  @include adaptiveDesktopToMobile("font-size", 24, 28);
}
.header__date-where {
  font-size: 16px;
}
.header__title {
  margin: 0;
  @include adaptiveDesktopToMobile("margin-top", 30, 16);
  @include adaptiveDesktopToMobile("font-size", 140, 36);
  @include adaptiveDesktopToMobile("line-height", 130, 42);
  font-weight: normal;
}
.header__subtitle {
  margin: 0;
  @include adaptiveDesktopToMobile("margin-top", 20, 6);
  @include adaptiveDesktopToMobile("font-size", 38, 16);
  @include adaptiveDesktopToMobile("line-height", 42, 24);
}
.header__description {
  margin: 0;
  @include adaptiveDesktopToMobile("margin-top", 20, 20);
  @include adaptiveDesktopToMobile("font-size", 18, 16);
}
.header__link {
  display: block;
  margin: 0;
  @include adaptiveDesktopToMobile("margin-top", 40, 16);

  @include viewport--sm {
    width: 100%;
    opacity: 1;
  }
}
.btn {
  min-width: 183px;
  border: 1px solid $color-default-black;
  border-radius: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  font-family: $font-family-main;
  font-size: 16px;
  line-height: 130%;
  padding-right: 36px;
  padding-left: 0;
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 18px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-image: url(../img/svg/icon-arrow.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  &--white {
    color: $color-default-white;
    border-color: $color-default-white;
    opacity: 0.66;

    &::after {
      filter: invert(1);
    }
  }
  &:hover {
    &::after {
      animation: 0.5s btnArrowAnimation;
    }
  }
}

@keyframes btnArrowAnimation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 18px -18px;
  }
  51% {
    background-position: -18px 18px;
  }
  100% {
    background-position: 0 0;
  }
}

.btn--white {
}
.header__right-wrapper {
  z-index: 1;

  @media screen and (max-width: 1279px) {
    display: none;
  }
}
.header__peoples {
}
.header__bg-pattern {
  position: absolute;
  top: 0;
  @include adaptiveDesktopToMobile("right", -46, -20);
  max-height: 100%;
  z-index: 0;
  overflow: hidden;

  @include viewport--sm {
    right: auto;
    @include adaptiveDesktopToMobile("left", -46, -20);
  }
}
.header__pattern {
  height: 100%;

  @include viewport--sm {
    transform: scale(1.2) translateY(-30px);
    transform-origin: top left;
  }
}

.numbers {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  @include adaptiveDesktopToMobile("padding-left", 46, 20);
  @include adaptiveDesktopToMobile("padding-right", 46, 20);
  @include adaptiveDesktopToMobile("margin-bottom", 85, 40);

  @include viewport--sm {
    padding: 0;
  }
}
.container {
}
.numbers__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include viewport--sm {
    grid-template-columns: auto;
  }
}
.numbers__item {
  @include adaptiveDesktopToMobile("padding-top", 45, 20);
  @include adaptiveDesktopToMobile("padding-bottom", 45, 20);
  @include adaptiveDesktopToMobile("padding-left", 30, 20);
  @include adaptiveDesktopToMobile("padding-right", 30, 20);
  @include adaptiveDesktopToMobile("font-size", 38, 22);
  @include adaptiveDesktopToMobile("line-height", 42, 32);
  position: relative;

  &:not(:last-child) {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 95%;
      background-color: $color-gainsboro;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 95%;
    background-color: $color-gainsboro;
  }

  @include viewport--sm {
    text-align: center;

    &::before {
      display: none;
    }

    &::after {
      width: 100%;
    }
  }
}

.about {
}
.container {
}
.section-title {
  font-weight: 500;
  @include adaptiveDesktopToMobile("font-size", 96, 28);
  @include adaptiveDesktopToMobile("line-height", 96, 34);
  margin: 0;
}
.about__title {
  @include adaptiveDesktopToMobile("margin-bottom", 60, 30);
}
.about__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  @include viewport--md {
    grid-template-columns: repeat(1, 1fr);
  }
}
.about__item {
  @include adaptiveDesktopToMobile("padding-left", 25, 0);
  @include adaptiveDesktopToMobile("padding-right", 25, 0);
  @include adaptiveDesktopToMobile("padding-bottom", 40, 0);

  &:not(:last-child) {
    border-right: 1px solid $color-gainsboro;
  }

  @include viewport--md {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 20px;
    padding: 0;

    &:not(:last-child) {
      border-right: unset;
      margin-bottom: 32px;
    }
  }
}
.about__item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  @include adaptiveDesktopToMobile("width", 68, 40);
  @include adaptiveDesktopToMobile("height", 68, 40);
  font-weight: 500;
  @include adaptiveDesktopToMobile("font-size", 38, 22);
  @include adaptiveDesktopToMobile("line-height", 42, 32);
  border: 1px solid $color-black-pearl;
  border-radius: 50%;
}
.about__item-text {
  margin: 0;
  @include adaptiveDesktopToMobile("margin-top", 40, 0);
  @include adaptiveDesktopToMobile("font-size", 18, 16);
  @include adaptiveDesktopToMobile("line-height", 32, 24);

  @include viewport--md {
    margin: 0;
    display: flex;
    align-items: center;
  }
}

.teams {
  @include adaptiveDesktopToMobile("margin-top", 60, 60);
}
.container {
}
.teams__title {
  margin: 0;
  @include adaptiveDesktopToMobile("margin-bottom", 75, 32);
}
.teams__list {
  @include reset-list;
}
.teams__item {
  border-top: 1px solid $color-gainsboro;
  &--active {
    .teams__item-decription {
      opacity: 1;
      @include adaptiveDesktopToMobile("margin-top", 10, -4);
      @include adaptiveDesktopToMobile("margin-bottom", 50, 32);
      @include adaptiveDesktopToMobile("padding-left", 15, 0);
      pointer-events: all;
      max-height: 100%;
      transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
    .teams__item-title {
      &::after {
        transform: rotate(90deg);
      }
    }
  }
}
.teams__item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  @include adaptiveDesktopToMobile("font-size", 38, 22);
  @include adaptiveDesktopToMobile("line-height", 42, 32);
  cursor: pointer;
  @include adaptiveDesktopToMobile("height", 150, 80);
  @include adaptiveDesktopToMobile("padding-left", 15, 0);
  @include adaptiveDesktopToMobile("padding-right", 15, 0);
  margin: 0;
  &::after {
    content: "";
    @include adaptiveDesktopToMobile("width", 34, 18);
    @include adaptiveDesktopToMobile("height", 34, 18);
    background-image: url(../img/svg/icon-arrow.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
  }
}
.teams__item-decription {
  margin: 0;
  pointer-events: none;
  max-width: 800px;
  @include adaptiveDesktopToMobile("font-size", 18, 16);
  @include adaptiveDesktopToMobile("line-height", 32, 24);
  font-family: $font-family-primary;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-in-out;
}

.process {
  @include adaptiveDesktopToMobile("margin-top", 100, 40);
}
.process__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr;
  @include adaptiveDesktopToMobile("column-gap", 80, 0);

  @include viewport--sm {
    grid-template-columns: repeat(1, 1fr);
  }
}
.process__title {
  @include adaptiveDesktopToMobile("margin-bottom", 70, 32);
  grid-column: span 2;

  @include viewport--sm {
    grid-column: auto;
  }
}
.process__left-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include viewport--sm {
    grid-row-start: 1;
    margin-bottom: 24px;
  }
}
.process__peoples {
}
.process__peoples-pic {
  max-width: 100%;
  height: auto;
}
.process__link {
  @include adaptiveDesktopToMobile("margin-top", 50, 32);
  margin-right: auto;
  margin-left: auto;
}
.process__right-wrapper {
  grid-row: span 2;
}
.process__list {
  @include reset-list;
}
.process__item {
  &:not(:last-child) {
    @include adaptiveDesktopToMobile("margin-bottom", 60, 32);
  }
}
.process__item-date {
  font-weight: 500;
  @include adaptiveDesktopToMobile("font-size", 24, 18);
  @include adaptiveDesktopToMobile("line-height", 34, 28);
  margin: 0;
  @include adaptiveDesktopToMobile("margin-bottom", 12, 3);
}
.process__item-title {
  font-weight: 500;
  @include adaptiveDesktopToMobile("font-size", 38, 22);
  @include adaptiveDesktopToMobile("line-height", 42, 32);
  margin: 0;
  @include adaptiveDesktopToMobile("margin-bottom", 12, 8);
}
.process__item-description {
  @include adaptiveDesktopToMobile("font-size", 18, 16);
  @include adaptiveDesktopToMobile("line-height", 32, 24);
  font-family: $font-family-primary;
  margin: 0;
}

.footer {
  @include adaptiveDesktopToMobile("margin-top", 140, 60);
  position: relative;
  overflow: hidden;
}
.container {
}
.footer__title {
  font-weight: 500;
  @include adaptiveDesktopToMobile("font-size", 64, 22);
  @include adaptiveDesktopToMobile("line-height", 72, 32);
  max-width: 834px;
  margin: 0;
  @include adaptiveDesktopToMobile("margin-bottom", 40, 20);
  z-index: 1;
  position: relative;
}
.section-title {
}
.footer__description {
  margin: 0;
  font-weight: 500;
  @include adaptiveDesktopToMobile("font-size", 28, 18);
  @include adaptiveDesktopToMobile("line-height", 34, 28);
  max-width: 653px;
  @include adaptiveDesktopToMobile("margin-bottom", 60, 32);
  z-index: 1;
  position: relative;
}
.footer__bottom-wrapper {
  background-color: $color-dodger-blue;
  @include adaptiveDesktopToMobile("padding-top", 60, 20);
  padding-bottom: 150px;

  @include viewport--ml {
    padding-bottom: 0;
  }
}
.footer__link {
  @include viewport--md {
    margin-bottom: 30px;
    width: 100%;
    @include adaptiveDesktopToMobile("font-size", 18, 16);
    @include adaptiveDesktopToMobile("line-height", 34, 24);
    height: 50px;
    &::after {
      width: 18px;
      height: 18px;
      right: 18px;
    }

    &:hover {
      &::after {
        animation: 0.5s btnArrowAnimation;
      }
    }
  }
}
.btn {
}
.btn--big {
  background-color: $color-default-white;
  border-color: $color-default-white;
  min-width: 274px;
  height: 80px;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  &::after {
    width: 34px;
    height: 34px;
    right: 30px;
  }
  &:hover {
    &::after {
      animation: 0.5s btnBigArrowAnimation;
    }
  }
}
@keyframes btnBigArrowAnimation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 34px -34px;
  }
  51% {
    background-position: -34px 34px;
  }
  100% {
    background-position: 0 0;
  }
}
.footer__peoples {
  position: absolute;
  bottom: -8px;
  right: 40px;
  z-index: 0;

  @include viewport--ml {
    position: static;
    display: flex;
    justify-content: flex-end;
  }
}
.footer__peoples-pic {
  @include viewport--sm {
    @include adaptiveDesktopToMobile("height", 640, 295);
  }
}
