// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:  #000000;
$color-default-white:  #ffffff;

// Base

$color-dodger-blue:    #0077FF;
$color-black-pearl:    #040b15;
$color-persian-blue:   #2E2EDE;
$color-alice-blue:     #F0F6FF;
$color-gainsboro:      #e3e3e3;


// Gradient

// Typography
//---------------------------------

$font-family-main: "VK Sans Display", sans-serif, Arial;
$font-family-primary: "VK Sans Text", sans-serif, Arial;

// Animation
//---------------------------------

$default-transition-settings: 0.3s ease;
$modal-transition-settings: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$viewport--sm: 320px;
$viewport--md: 768px;
$viewport--lg: 1024px;
$viewport--ml: 1280px;
$viewport--xl: 1440px;
$viewport--xxl: 1920px;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
